html, body{
    position: absolute;
    font-family: 'Outfit', sans-serif;
    margin: 0px;
    width: 100%;
    height: 100%;
}

body{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container{
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    width: 304px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

/* OVERLAY */

.img-wrapper{
    width: 85%;
    top: 20px;
    left: 23px;
    margin-bottom: 45px;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
}

.img-wrapper .card-image{
    width: 100%;
    height: 100%;
}

.overlay {
    background-color: hsla(178, 100%, 50%, 0.4);
    display: flex;                
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.img-wrapper:hover .overlay {
    opacity: 1;
}



.card-title{
    position: relative;
    left: 23px;
    color: hsl(0, 0%, 100%);
    margin: 0px;
    font-weight: 600;
}

.card-title:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.card-text{
    position: relative;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    margin: 0px;
    left: 23px;
    top: 15px;
}

.card-info{
    position: relative;
    width: 258px;
    left: 23px;
    top: 30px;
    display: flex;
    justify-content: space-between;
}

.card-info-value, .card-info-days-left{
    margin: 0px;
}

.card-info-value{
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

.card-info-value, .card-info-value-logo{
    display: flex;
    align-items: center;
    gap: 5px;
}


.card-info-days-left{
    color: hsl(215, 51%, 70%);
    font-weight: 400;
}

.card-info-days-left, .card-info-days-left-icon{
    display: flex;
    align-items: center;
    gap: 5px;
}

hr{
        color: hsl(215, 51%, 70%);
        margin: 0px;
        position: relative;
        top: 35px;
        left: 23px;
        width: 258px;
        border-style: solid; 
        border-width: 0px 0px 0.1px 0px;      
}

.card-footer{
    position: relative;
    width: 258px;
    top: 40px;
    left: 23px;
    margin: 0px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-footer-img{
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 100%;
    width: 30px;
}

.card-footer-text{
    color: hsl(0, 0%, 100%);
}

#by{
    color: hsl(215, 51%, 70%);
}

#name:hover{
    color: hsl(178, 100%, 50%);
    cursor:pointer;
}

footer{
    position: relative;
    top: 23%;
}